{% extends "game/base_generic.html" %}
{% block content %}

<h2>Profile</h2>

<!-- User's Own Animations -->
{% if my_animations %}
    <h3>My Animations</h3>
    <div class="animation-gallery">
        {% for animation in my_animations %}
            {% if animation.animation_file %}
                <div class="animation-item">
                    <p>Uploaded on: {{ animation.date|date:"F d, Y H:i" }}</p>
                    <img src="{{ animation.animation_file.url }}" alt="My Animation" class="gif-animation">
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>You haven't created any animations yet.</p>
{% endif %}

<!-- Animations Shared with the User -->
{% if with_animaton %}
    <h3>Animations Shared With Me</h3>
    <div class="animation-gallery">
        {% for animation in with_animaton %}
            {% if animation.animation_file %}
                <div class="animation-item">
                    <p>Shared by: {{ animation.user.username }}</p>
                    <img src="{{ animation.animation_file.url }}" alt="Shared Animation" class="gif-animation">
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>No animations have been shared with you yet.</p>
{% endif %}


{% endblock %}