{% extends "game/base_generic.html" %}
{% block content %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

<h2>Profile</h2>

<!-- User's Own Animations -->
{% if my_animations %}
    <h3>My Animations</h3>
    <div class="animation-gallery">
        {% for animation in my_animations %}
            {% if animation.animation_file %}
                <div class="animation-item">
                    
                    <h6>{{ animation.animation_name }}</h6>
                    <form method="get" action="{% url 'users:animation_detail' animation.id %}">
                        <button type="submit">
                            <img src="{{ animation.animation_file.url }}" alt="My Animation" class="gif-thumbnail">
                        </button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>You haven't created any animations yet.</p>
{% endif %}

<!-- Animations Shared with the User -->
{% if with_animaton %}
    <h3>Animations Shared With Me</h3>
    <div class="animation-gallery">
        {% for animation in with_animaton %}
            {% if animation.animation_file %}
                <div class="animation-item">
                    <h6>{{ animation.animation_name }}</h6>
                    <p>Shared by: {{ animation.user.username }}</p>
                    <form method="get" action="{% url 'users:animation_detail' animation.id %}">
                        <button type="submit">
                            <img src="{{ animation.animation_file.url }}" alt="Shared Animation" class="gif-thumbnail">
                        </button>
                    </form>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>No animations have been shared with you yet.</p>
{% endif %}

{% endblock %}