asgiref==3.8.1
certifi==2024.12.14
charset-normalizer==3.4.1
cloudinary==1.42.1
crispy-bootstrap4==2024.10
decorator==4.4.2
dj-database-url==2.3.0
Django==5.1.4
django-cloudinary-storage==0.3.0
django-crispy-forms==2.3
django-environ==0.11.2
django-extensions==3.2.3
djangorestframework==3.15.2
exceptiongroup==1.2.2
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
iniconfig==2.0.0
moviepy==1.0.3
numpy==2.2.2
packaging==24.2
pillow==10.4.0
pluggy==1.5.0
proglog==0.1.10
psycopg2-binary==2.9.10
pytest==8.3.4
pytest-django==4.9.0
python-dotenv==1.0.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
tomli==2.2.1
tqdm==4.67.1
typing_extensions==4.12.2
urllib3==2.3.0
gunicorn==23.0.0