
{% extends "game/base_generic.html" %}
{% load crispy_forms_tags %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
<h1>Hello  {{ user.username|capfirst }}</h1>
<div class="artwork-container">
    {% if error %}
        <div class="error-message">
            <p>{{ error }}</p>
        </div>
    {% else %}
        {% if artwork.image_url %}
            <img src="{{ artwork.image_url }}" alt="{{ artwork.title }}" class="artwork-image">
        {% endif %}
        
        <h1>{{ artwork.title }}</h1>
        
        {% if artwork.artist %}
            <h2>By {{ artwork.artist }}</h2>
        {% endif %}
        

        
        <form method="POST">
            {% csrf_token %}
            <button type="submit">Get Another Artwork</button>
            <label for="userSelect">Select User:</label>
            <select name="username" id="userSelect" required>
                <option value="" disabled selected>Select a user</option>  
                {% for user in usernames %}
                    <option value="{{ user}}">{{ user }}</option>
                {% endfor %}
            </select>
            <button type="submit" name="start">Start</button>
        </form>
    {% endif %}
</div>
{% endblock %}