{% extends "game/base_generic.html" %}
{% load crispy_forms_tags %}

{% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-success{% endif %}">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}

{% block content %}
<div class="container">
    <h2>Login</h2>  
    <div >  
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <input type="hidden" name="next" value="{% url 'game:index' %}">
            <button type="submit" class="btn btn-primary">Login</button>
            <p>Don't have an account? <a href="{% url 'users:signup' %}">Signup here</a></p>
        </form>


    </div>  
</div>  
{% endblock %}