
<html lang="en">
  <head>
    {% block title %}
      <title>Animation</title>
    {% endblock %}
    <meta charset="utf-8" />
    
   
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% load static %}
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'game/css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container-nav">
      <div class="row">
        <div class="col-sm-2">
          {% block sidebar %}
          <nav >
            <div >
            <!-- Profile Image -->
              {% if files %}
              {% for file in files %}
                <img src="{{ file.file.url }}" alt="Profile" class="rounded-circle me-3" style="max-width: 50px; max-height: 50px; object-fit: cover;">
                {% endfor %}
                {% endif %}
                <!-- Navigation Links -->
                <div class="collapse" >
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'game:index' %}">New Game!</a> 
                        </li>
                        <li>
                          <a href="{% url 'game:games_on' %}">Games Inbox</a>
                        </li>
                        <li>
                          <a href="{% url 'users:profile' %}">My Animations</a>
                        </li>
                        <li>
                          <a href="{% url 'blog:post_list' %}">Animation Blog</a>
                        </li>
        
                    <!-- Authentication Links -->
                    
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a href="#" class="nav-link" onclick="document.getElementById('logout-form').submit()">
                                    Logout
                                </a>
                                <form id="logout-form" method="POST" action="{% url 'users:logout' %}" class="d-none">
                                    {% csrf_token %}
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a href="{% url 'users:login' %}" class="nav-link">Login</a>
                            </li>
                        {% endif %}
                   
                </div>
            </div>
        </nav>
          {% endblock %}
        </div>
        <div class="col-sm-12 ">{% block content %}
          {% endblock %}</div>
      </div>
    </div>
  </body>
</html>